workflows/voice-recorder-ui.json
{
  "name": "Voice Recorder UI",
  "nodes": [
    {
      "parameters": {
        "path": "recorder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-serve-ui",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        160
      ],
      "webhookId": "recorder"
    },
    {
      "parameters": {
        "fileSelector": "/static/recorder.html",
        "options": {}
      },
      "id": "read-html",
      "name": "Read HTML",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Content-Security-Policy",
                "value": "default-src 'self' 'unsafe-inline' https://cdn.tailwindcss.com https://cdn.jsdelivr.net; media-src 'self' blob:; connect-src 'self'"
              }
            ]
          }
        }
      },
      "id": "respond-html",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        928,
        160
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        704,
        160
      ],
      "id": "74dde01d-72a3-4ca5-b228-8433c82cf96d",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read HTML": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d55d9a48-e9d8-4c5c-ad77-cf9e065b47ef",
  "meta": {
    "instanceId": "4d0e42bbf4f8ecc7c9e3cdbacf4260ac8e47e8080f1a720bebf06afb4ab184e3"
  },
  "id": "bufD1V3BHvM8jjYC",
  "tags": []
}
